.list-header {

}
.list-header__row {
  background-color: #e9ebec;
  border: .1rem solid #d2d5d7;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  font-weight: bold;
  height: 6rem;
  & > div {
    border: none;
  }
  & > div:first-of-type {
    border-left: none;
  }
}
